---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import CodeSandBox from "./icons/CodeSandBox.astro"
import ReactIcon from "./icons/ReactIcon.astro"
import JavaScript from "./icons/JavaScript.astro"
import ViteIcon from "./icons/ViteIcon.astro"
const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  REACT: {
    name: "React",
    class: "bg-sky-300/50 text-white",
    icon: ReactIcon,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-yellow-400/30 text-white",
    icon: JavaScript,
  },
  VITE: {
    name: "Vite",
    class: "bg-gray-100/20 text-white",
    icon: ViteIcon,
  }
}
const PROJECTS = [
  {
    title: "Clon basico de Keeper",
    description:
      "Una aplicación de notas simple, creada con React y JavaScript. Incluye la capacidad de agregar y eliminar notas. Memoria no persistente. Hecho en CodeSandbox.",
    link: "https://t7mkqq.csb.app/",
    codeSandbox: "https://codesandbox.io/p/devbox/using-pre-built-react-components-completed-forked-t7mkqq?workspaceId=ws_9S6Jd536Dy868hkj1FGpo1",
    image: "/projects/keeper.webp",
    tags: [TAGS.JAVASCRIPT, TAGS.REACT],
  },
  {
    title: "React TodoList",
    description:
      "Simple Lista de tareas. Creada desde cero con React, JavaScript, Tailwind CSS y Vite. Incluye LocalStorage para guardar las tareas.",
    link: "https://shimmering-churros-9f4491.netlify.app/",
    github:"https://github.com/Jiolloker/React-Todolist",
    image: "/projects/TodoList.webp",
    tags: [TAGS.JAVASCRIPT, TAGS.REACT, TAGS.TAILWIND, TAGS.VITE],
  },
  {
    title: "React Wordle Clon",
    description:
      "Un clon de Wordle, creado con React, JavaScript, Tailwind CSS y Vite. Incluye LocalStorage para guardar las partidas.",
    link: "https://fastidious-meerkat-81b9ff.netlify.app/",
    github:"https://github.com/Jiolloker/wordle-clon/tree/master",
    image: "/projects/wordle.webp",
    tags: [TAGS.JAVASCRIPT, TAGS.REACT, TAGS.TAILWIND, TAGS.VITE],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, codeSandbox, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {codeSandbox && (
            <LinkButton href={codeSandbox}>
              <CodeSandBox class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              GitHub
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



